.contact {
  padding: 60px 20px;
  text-align: center;
  /* background: linear-gradient(to right, #f4f5f7, #e9ebee); */
  background: linear-gradient(145deg, #2b2e4a, #1e1e2f);

}

.contact h2 {
  font-size: 2.5rem;
  color: #f0eeee;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-icon {
  color: #00bcd4;
  font-size: 1.8rem;
}

.contact-details {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  max-width: 600px;
  margin: 0 auto;
}

.contact-details p {
  font-size: 1.1rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.contact-details a {
  color: #0077b6;
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}

.icon {
  color: #00bcd4;
  font-size: 1.2rem;
}
