.projects {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(145deg, #2b2e4a, #1e1e2f);
}

.projects h2 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 40px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
  list-style: none;
}

/* .project-card {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
} */


.project-card {
  background-color: #efefef;
  color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  margin-bottom: 10px;
  color: #020202;
}

.project-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00bcd4;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.project-btn:hover {
  background-color: #0097a7;
}
